!!! 5
%html
  %head
    %link(href="/assets/normalize.css" rel="stylesheet")
    %link(href="/assets/admin.css" rel="stylesheet")
  %body
    #root

    %script(src="http://localhost:9000/assets/application.js" async)
      